<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="/css/base.min.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/receive.m.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_578553_pgklbr9vm1epcik9.css">
    <link rel="stylesheet" href="/css/swiper-4.1.0.min.css">
    <link rel="stylesheet" href="/css/JR-goods-list.css">

</head>

<body>
    <div class="jr-container">
        <div class="top-box">
            <div class="jr-wrap">
                <ul>
                    <li>
                        <a href="javacript:;">
                            精锐教育网首页
                        </a>
                    </li>
                    <li>
                        <a href="javacript:;">
                            我的订单
                        </a>
                    </li>
                    <li>
                        <a href="javacript:;">
                            我的精锐
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="jr-wrap jr-header">
            <div class="header-box clearfix">
                <div class="logo fl">
                    <img src="/img/logo.png" alt="">
                </div>
                <div class="link-style fr">
                    <i class="iconfont icon-jiarugouwuche">
                        <span>99</span>
                    </i>
                </div>
                <div class="search fr">
                    <div class="search-box">
                        <input type="text" placeholder="亲输入课程名称，班号或上课地点...">
                        <button>
                            <span class="pr5">搜</span> 索</button>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">学前教育</a>
                        </li>
                        <li>
                            <a href="javascript:;">小学辅导</a>
                        </li>
                        <li>
                            <a href="javascript:;">在线英语</a>
                        </li>
                        <li>
                            <a href="javascript:;">1对1辅导</a>
                        </li>
                        <li>
                            <a href="javascript:;">暑期课程</a>
                        </li>
                        <li>
                            <a href="javascript:;">8折优惠</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" mt15" style="background:#008cf7;">
            <div class="jr-wrap jr-tab clearfix">
                <div class="class-header fl">
                    <p> 全部课程分类
                        <i class="iconfont icon-xiajiantou"></i>
                    </p>
                    <div class="classify fl">
                        <ul class="classify-one">
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="one-title">
                                    <a href="/view/goods-list.html" class="one-item">
                                        学前课程
                                        <i class="iconfont icon-youjiantou fr"></i>
                                    </a>
                                    <div class="classify-open">
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                        <dl class="clearfix">
                                            <dt class="fl mr10">
                                                <a href="javascript:;">课程1&lt;</a>
                                            </dt>
                                            <dd class="fl">
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                                <a href="javascrip:;">手工课</a>
                                                <a href="javascrip:;">油画课</a>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="fl tab-one">
                    <li>
                        <a href="javascript:;">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">出国留学</a>
                    </li>
                    <li>
                        <a href="javascript:;">中学辅导</a>
                    </li>
                    <li>
                        <a href="javascript:;">大学考试</a>
                    </li>
                    <li>
                        <a href="javascript:;">小学辅导</a>
                    </li>
                    <li>
                        <a href="javascript:;">英语学习</a>
                    </li>
                    <li>
                        <a href="javascript:;">多语种</a>
                    </li>
                    <li>
                        <a href="javascript:;">师资</a>
                    </li>
                </ul>
                <ul class="fr tab-one phone">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont icon-service-phone ver-top"></i>
                            <sapn class="ver-top">400-805-8355</sapn>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jr-wrap jr-content">
        <div class="ad-box mt20 mb20">
            <img src="/img/list-01.jpg" alt="">
        </div>
        <div class="bread-cut">
            <span>
                您所在的位置：
            </span>
            <a href="javascript:;">首页 &gt;</a>
            <a href="javascript:;">小学辅导 &gt;</a>
            <span>至慧学堂 9.9元试听体验课程30分钟（优惠活动）</span>
        </div>
        <div class="product_wp mt10 clearfix">
            <div class="img_preview fl">
                <div class="big_img">
                    <div id="wrap" style="top:0px;">
                        <a class="cloud-zoom" rel="" href="javascript:;">
                            <img alt="" src="http://web-img.qmimg.com/qianmicom/u/cms/syy/201803/0917575101pm.jpg" width="350" height="350" style="display: block;">
                        </a>
                    </div>
                </div>
                <!--/big_img-->
            </div>
            <!--/img_preview-->

            <div class="product_info fl ml20">
                <div class="pd_title">
                    <h2 style="color: #666;font-size: 18px">至慧学堂 9.9元试听体验课程30分钟(优惠活动)</h2>
                    <span style="color: #999">适用学员：3~12岁非至慧学堂在读学员。课程介绍：采用全数据化、智能化的测评技术，人机对话，对儿童的数学思维能力进行精确测量和阶段跟踪，给家长呈99现客观、真实、科学、可靠的儿童数学能力发展情况。喜欢有趣的事物、喜欢游戏是孩子的天性，至慧学堂斥资近千万开发的情景式互动课件，在至慧兔等卡通伙伴的带领下，让孩子置身探索的旅程之中，致力于帮助激发孩子学习动力。</span>
                </div>
                <!--/pd_title-->

                <dl class="pd_info clearfix mt10" style="position: relative">
                    <div class="pd-bg clearfix">
                        <!--判断购价-->
                        <dl class="clearfix" style="background:#f5f5f5;border-bottom:none;">
                            <dt id="priceflr">
                                <span>商&ensp;城&ensp;价</span>：</dt>
                            <dd>
                                <span class="main_price">
                                    <span>￥</span> 5399.00</span>
                                <span style="color: red;" id="zk_price">&nbsp;</span>
                                <input type="hidden" id="mprice" value="5399.00">
                            </dd>
                        </dl>
                    </div>
                    <div class="pl20 pr20 pt10">
                        <dt>
                            <span>上&ensp;课&ensp;点</span>：</dt>
                        <dd>
                            <div class="choose_area fl pr">
                                <div class="area_text choose_btn" id="area_text">北京北京市朝阳区
                                    <b></b>
                                </div>
                                <div class="locate_cont">
                                    <ul class="locate_tabs clearfix">
                                        <li class="show_province">
                                            <a href="javascript:;">
                                                <span class="province_text" val="1">北京</span>
                                                <b></b>
                                            </a>
                                        </li>
                                        <li class="show_city">
                                            <a href="javascript:;">
                                                <span class="city_text" val="1">北京市</span>
                                                <b></b>
                                            </a>
                                        </li>
                                        <li class="show_distinct cur">
                                            <a href="javascript:;">
                                                <span class="distinct_text" callback="changeArea()" val="18">延庆县</span>
                                                <b></b>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--/locate_tabs-->
                                    <div class="locate_wp">
                                        <ul class="locate_list clearfix province_list" style="display: none;">
                                            <li>
                                                <a class="check_province" data-id="1" onclick="setProvince(1,&quot;北京&quot;);" href="javascript:;">
                                                    北京
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/locate_wp-->
                                    <a class="close_area" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="store-prompt fl ml10">
                                <em>有课</em>
                            </div>
                        </dd>
                        <dt>
                            <span>服&emsp;&emsp;务</span>：</dt>
                        <dd>由“精锐教育在线”直接销售和发货，并提供售后服务</dd>
                    </div>
                </dl>
                <!--/pd_info-->

                <dl class="buy_info mt10 clearfix pl20" style="padding-left: 20px;">

                    <dt class="spec_name" data-value="324">
                        <span>选择课次</span>：</dt>
                    <dd>
                        <div class="choose_type clearfix">
                            <a class="choose_item _sku selected" onclick="clickSpecDetail(this,false);" data-parent="324" data-value="1382" title="i7"
                                href="javascript:;">
                                <em>优惠活动</em>
                                <b></b>
                                <i></i>
                            </a>
                        </div>
                        <!--/choose_img-->
                    </dd>
                    <!-- 保存已经选择的规格值 -->
                    <div class="hide">
                        <input type="hidden" class="chooseParamId" value="1382" data-spec="配置" data-detail="i7">
                    </div>
                    <dt>
                        <span>购买数量</span>：</dt>
                    <dd>
                        <a class="minus num_minus fl" href="javascript:;"></a>
                        <input class="min_text num_text fl product_buy_num" type="text" value="1">
                        <a class="plus num_plus fl" href="javascript:;"></a>
                    </dd>
                </dl>
                <!--/buy_info-->

                <div class="by_cart clearfix">
                    <a class="collect_pro mr20 go_buy" product_id="7097" product_stock="123121" distinct_id="5">立即购买</a>
                    <a class="add_cart" product_id="7097" product_stock="123121" distinct_id="5" href="javascript:;">
                        <i></i>加入购物车</a>
                </div>
                <!--/by_cart-->
            </div>
            <!--/product_info-->
            <div class="sevice_online">
                <!-- QQ客服存在 -->

            </div>
        </div>
        <div class="content clearfix mt10">

            <div class="right_wp fr">

                <div class="product_detail">
                    <div class="tit_wp">
                        <div class="det_title detail_nav clearfix">
                            <ul class="nav_tabs fl clearfix">
                                <li class="cur">
                                    <a href="javascript:;">商品介绍</a>
                                </li>
                            </ul>
                            <!--/nav_tabs-->
                            <a class="add-cart-btn fr " product_id="7097" product_stock="123121" distinct_id="5" href="javascript:;">
                                <i></i>加入购物车</a>
                        </div>
                        <!--/det_title-->
                    </div>
                    <!--/tit_wp-->

                    <div class="details_box  show" style="display: block;">
                        <div class="details-more fl">
                            <a name="1f"></a>
                            <ul class="pro_introduce clearfix">
                                <li>商品名称：智慧学堂 9.9元试听体验课程30分钟</li>
                                <li>商品编号：201702231407521</li>
                                <li>店铺：
                                    <a href="javascript:;">精锐教育在线</a>
                                </li>
                                <li>时间：2017-10-25 20:09:44</li>
                                <li>年级：学前</li>
                            </ul>
                            <!--/pro_introduce-->
                            <div class="intro_cont">
                                <div class="detail_show">
                                    至慧学堂
                                    <p style="color: #1d9eff;font-size: 14px">适用学员</p>
                                    <p>3~12岁非智慧学堂在读学员</p>
                                </div>
                            </div>
                            <!--/intro_cont-->
                        </div>
                        <!--details-more-->

                    </div>
                    <!--/details_box-->

                </div>
                <!--/product_detail-->
            </div>
            <!--/right_wp-->

            <div class="left_wp fl" id="relative-data">
                <div class="relevant">
                    <div class="title-tabs">
                        <a href="javascript:;" class="active">相关分类</a>
                        <a href="javascript:;">推荐品牌</a>
                    </div>
                    <div class="relevant-cont">
                        <ul class="clearfix pt10 pb10 active" id="relativeCatGoods">
                            <li>
                                <a class="aboutcate" href="javascript:;">数学</a>
                            </li>
                            <li>
                                <a class="aboutcate" href="javascript:;">英语</a>
                            </li>
                        </ul>
                        <ul class="clearfix pt10 pb10" id="relativeBrandGoods">
                        </ul>
                    </div>
                </div>

                <div class="left_box">
                    <h3>浏览该商品的用户最终购买</h3>
                    <ul class="show_list mt10" id="finalBuyGoods">
                        <li>
                            <div class="browse_img">
                                <a alt="Apple MacBook 12英寸笔记本电脑(M3)" title="Apple MacBook 12英寸笔记本电脑(M3)" target="_blank" href="/item/6040.html">
                                    <img class="lazy" alt="Apple MacBook 12英寸笔记本电脑(M3)" title="Apple MacBook 12英寸笔记本电脑(M3)" data-original="http://kstoreimages.b0.upaiyun.com/1472520398588.jpg!352"
                                        width="120" height="120" src="http://kstoreimages.b0.upaiyun.com/1472520398588.jpg!352">
                                </a>
                            </div>
                            <p class="browse_name mt5">
                                <a alt="Apple MacBook 12英寸笔记本电脑(M3)" title="Apple MacBook 12英寸笔记本电脑(M3)" target="_blank" href="/item/6040.html">Apple MacBook 12英寸笔记本电脑(M3)</a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="left_box" id="hotSalesGoodsRanking">
                    <h3>热销排行榜</h3>
                    <ul class="ranking_list mt10 isShow1">
                        <li>
                            <em class="pre-top">1</em>
                            <div class="ranking_info fl ml10">
                                <a class="ranking_name">近一个月货品暂无记录!</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/left_wp-->
            <div style="clear:both; height:0;"></div>
        </div>
        <div class="bottom-ad mt15">
            <div class="swiper-container small-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/img/bottom_ad_01.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/bottom_ad_02.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/bottom_ad_03.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/bottom_ad_04.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/img/bottom_ad_05.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>


        </div>
    </div>


</body>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/swiper-4.1.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.min.js"></script>
<script src="/js/dispatching_area.js"></script>
<script src="/js/es_goods_list.js"></script>
<script>
    /* 点击展开按钮操作 */
    $(".show_more").click(function () {
        $(".more_filter").removeClass("more_filter").show();
        $(this).hide();
        $(".show_less").show();
    });
    /* 点击收起按钮操作 */
    $(".show_less").click(function () {
        $(".filter_item:visible:eq(3)").nextAll(".filter_item:visible").addClass("more_filter").hide();
        $(this).hide();
        $(".show_more").show();
    });

    /*轮播小广告*/
    var smallSlider = new Swiper('.small-swiper', {
        loop: true,
        slidesPerView: 5,
        spaceBetween: 10,
        pagination: {
            el: '.small-swiper .swiper-pagination',
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        autoplay: true
    });
</script>

</html>