<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>商品列表</title>
  <link rel="stylesheet" href="/css/base.min.css">
  <link rel="stylesheet" href="/css/receive.m.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_578553_pgklbr9vm1epcik9.css">
  <link rel="stylesheet" href="/css/swiper-4.1.0.min.css">
  <link rel="stylesheet" href="/css/JR-goods-list.css">
</head>

<body>
  <div class="jr-container">
    <div class="top-box">
      <div class="jr-wrap">
        <ul>
          <li>
            <a href="/view/index.html">
              精锐教育网首页
            </a>
          </li>
          <li>
            <a href="javacript:;">
              我的订单
            </a>
          </li>
          <li>
            <a href="javacript:;">
              我的精锐
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="jr-wrap jr-header">
      <div class="header-box clearfix">
        <div class="logo fl">
          <a href="/view/index.html">
            <img src="/img/logo.png" alt="">
          </a>
        </div>
        <!-- <div class="address fl">
            <a href="javascript:;">
              上海
              <i class="iconfont icon-sanjiaodown"></i>
            </a>
          </div> -->
        <div class="link-style fr">
          <i class="iconfont icon-jiarugouwuche">
            <span>99</span>
          </i>
        </div>
        <div class="search fr">
          <div class="search-box">
            <input type="text" placeholder="亲输入课程名称，班号或上课地点...">
            <button>
              <span class="pr5">搜</span> 索</button>
          </div>
          <ul>
            <li>
              <a href="javascript:;">学前教育</a>
            </li>
            <li>
              <a href="javascript:;">小学辅导</a>
            </li>
            <li>
              <a href="javascript:;">在线英语</a>
            </li>
            <li>
              <a href="javascript:;">1对1辅导</a>
            </li>
            <li>
              <a href="javascript:;">暑期课程</a>
            </li>
            <li>
              <a href="javascript:;">8折优惠</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class=" mt15" style="background:#008cf7;">
      <div class="jr-wrap jr-tab clearfix">
        <div class="class-header fl">
          <p> 全部课程分类
            <i class="iconfont icon-xiajiantou"></i>
          </p>
          <div class="classify fl">
            <ul class="classify-one">
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="one-title">
                  <a href="/view/goods-list.html" class="one-item">
                    学前课程
                    <i class="iconfont icon-youjiantou fr"></i>
                  </a>
                  <div class="classify-open">
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                    <dl class="clearfix">
                      <dt class="fl mr10">
                        <a href="javascript:;">课程1&lt;</a>
                      </dt>
                      <dd class="fl">
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                        <a href="javascrip:;">手工课</a>
                        <a href="javascrip:;">油画课</a>
                      </dd>
                    </dl>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <ul class="fl tab-one">
          <li>
            <a href="javascript:;">首页</a>
          </li>
          <li>
            <a href="javascript:;">出国留学</a>
          </li>
          <li>
            <a href="javascript:;">中学辅导</a>
          </li>
          <li>
            <a href="javascript:;">大学考试</a>
          </li>
          <li>
            <a href="javascript:;">小学辅导</a>
          </li>
          <li>
            <a href="javascript:;">英语学习</a>
          </li>
          <li>
            <a href="javascript:;">多语种</a>
          </li>
          <li>
            <a href="javascript:;">师资</a>
          </li>
        </ul>
        <ul class="fr tab-one phone">
          <li>
            <a href="javascript:;">
              <i class="iconfont icon-service-phone ver-top"></i>
              <sapn class="ver-top">400-805-8355</sapn>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="jr-wrap jr-content">
    <div class="ad-box mt20 mb20">
      <img src="/img/list-01.jpg" alt="">
    </div>
    <div class="bread-cut">
      <span>
        您所在的位置：
      </span>
      <a href="javascript:;">首页 &gt;</a>
      <span>小学辅导</span>
    </div>
    <div class="pro_filter mt10">
      <div class="filterBox">
        <dl id="selected_filter" style="" class="filter_wp clearfix">
          <dt>已选条件：</dt>
          <dd>
            <form action="/list/4802-4796.html" id="searchForm" method="post">
              <div class="filterList">
                <ul class="clearfix">
                  <li data-num="brand">
                    <input type="hidden" name="brands" value="Lenovo">
                    <a href="javascript:;">分类：
                      <em>小班</em>
                      <i class="iconfont icon-chahao"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!--/filterList-->
            </form>
            <a class="cancel_filter" href="javascript:;">全部撤销</a>
          </dd>
        </dl>
        <!--/filter_wp-->
        <dl class="filter_item clearfix" data-num="brand">
          <dt>分类：</dt>
          <dd>
            <div class="filterList">
              <ul class="clearfix">
                <li>
                  <a role="brand" param="苹果经销" href="javascript:;">小班</a>
                </li>
                <li>
                  <a role="brand" param="Lenovo" href="javascript:;">中班</a>
                </li>
                <li>
                  <a role="brand" param="Apple" href="javascript:;">大班</a>
                </li>
              </ul>
            </div>
            <!--/filterList-->
            <a class="filter_op f_more none" href="javascript:;">更多
              <b></b>
            </a>
            <a class="filter_op f_less none" href="javascript:;">收起
              <b></b>
            </a>
          </dd>
        </dl>
        <!--/filter_wp-->
        <dl class="filter_item clearfix" data-num="年龄">
          <dt>年龄：</dt>
          <dd>
            <div class="filterList">
              <ul class="clearfix">
                <li>
                  <a role="eparam" param="不限" href="javascript:;">不限</a>
                </li>
                <li>
                  <a role="eparam" param="3-4岁" href="javascript:;">3-4岁</a>
                </li>
                <li>
                  <a role="eparam" param="4-5岁" href="javascript:;">4-5岁</a>
                </li>
                <li>
                  <a role="eparam" param="5-6岁" href="javascript:;">5-6岁</a>
                </li>
              </ul>
            </div>
            <!--/filterList-->
            <a class="filter_op f_more none" href="javascript:;">更多
              <b></b>
            </a>
            <a class="filter_op f_less none" href="javascript:;">收起
              <b></b>
            </a>
          </dd>
        </dl>

        <!--/filter_wp-->
        <dl class="filter_item clearfix" data-num="学科">
          <dt>学科：</dt>
          <dd>
            <div class="filterList">
              <ul class="clearfix">
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
                <li>
                  <a role="eparam" param="数学" href="javascript:;">数学</a>
                </li>
                <li>
                  <a role="eparam" param="英语" href="javascript:;">英语</a>
                </li>
                <li>
                  <a role="eparam" param="语文" href="javascript:;">语文</a>
                </li>
              </ul>
            </div>
            <!--/filterList-->
            <a class="filter_op f_more none" href="javascript:;">更多
              <b></b>
            </a>
            <a class="filter_op f_less none" href="javascript:;">收起
              <b></b>
            </a>
          </dd>
        </dl>
        <!--/filter_wp-->
        <dl class="filter_item clearfix" data-num="上课形式">
          <dt>上课形式：</dt>
          <dd>
            <div class="filterList">
              <ul class="clearfix">
                <li>
                  <a role="eparam" param="校区面授" href="javascript:;">校区面授</a>
                </li>
                <li>
                  <a role="eparam" param="在线直播" href="javascript:;">在线直播</a>
                </li>
              </ul>
            </div>
            <!--/filterList-->
            <a class="filter_op f_more none" href="javascript:;">更多
              <b></b>
            </a>
            <a class="filter_op f_less none" href="javascript:;">收起
              <b></b>
            </a>
          </dd>
        </dl>
        <!--/filter_wp-->
        <dl class="filter_item clearfix " data-num="上课地点">
          <dt>上课地点：</dt>
          <dd>
            <div class="filterList">
              <ul class="clearfix">
                <li>
                  <a role="eparam" param="至慧学堂闵行龙之梦中" href="javascript:;">至慧学堂闵行龙之梦中</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂浦东联洋中心" href="javascript:;">至慧学堂浦东联洋中心</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂闵行龙之梦中" href="javascript:;">至慧学堂闵行龙之梦中</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂浦东联洋中心" href="javascript:;">至慧学堂浦东联洋中心</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂闵行龙之梦中" href="javascript:;">至慧学堂闵行龙之梦中</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂浦东联洋中心" href="javascript:;">至慧学堂浦东联洋中心</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂闵行龙之梦中" href="javascript:;">至慧学堂闵行龙之梦中</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂浦东联洋中心" href="javascript:;">至慧学堂浦东联洋中心</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂闵行龙之梦中" href="javascript:;">至慧学堂闵行龙之梦中</a>
                </li>
                <li>
                  <a role="eparam" param="至慧学堂浦东联洋中心" href="javascript:;">至慧学堂浦东联洋中心</a>
                </li>
              </ul>
            </div>
            <!--/filterList-->
            <a class="filter_op f_more none" href="javascript:;">更多
              <b></b>
            </a>
            <a class="filter_op f_less none" href="javascript:;">收起
              <b></b>
            </a>
          </dd>
        </dl>
        <!--/filter_wp-->
      </div>
      <!--/filterBox-->
    </div>
    <div class="filter_handle tc">
      <div class="show_more" style="margin-bottom: 8px; display: block;">
        <a href="javascript:;">展开</a>
      </div>
      <div class="show_less" style="margin-bottom: 8px; display: none;">
        <a href="javascript:;">收起</a>
      </div>
    </div>
    <div class="new_operation_bar">
      <div class="operation_wp clearfix fl">
        <div class="sorting_box fl clearfix">
          <em>默认排序：</em>
          <a val="2D" attr="" class="change_sort  curr-sort " href="javascript:;">
            <span>销量
              <i class="iconfont icon-xiangshangjiantou"></i>
            </span>

          </a>
          <a val="1D" attr="" class="change_sort   " href="javascript:;">
            <span>价格
              <i class="iconfont icon-xiangshangjiantou"></i>
            </span>
          </a>
          <a val="4D" attr="" class="change_sort   " href="javascript:;">
            <span>人气
              <i class="iconfont icon-xiangshangjiantou"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="goodsTip ml15 clearfix fl" style="padding-top:10px;">
        <span class="fl" style="line-height:26px;">配送至：</span>
        <div class="choose_area fl pr mr10">
          <input id="isAreaInitLoad" value="" type="hidden">
          <input id="sellerId" value="" type="hidden">
          <div class="area_text choose_btn" id="area_text">北京北京市朝阳区
            <b></b>
          </div>
          <div class="locate_cont">
            <ul class="locate_tabs clearfix">
              <li class="cur show_province">
                <a href="javascript:;">
                  <span class="province_text" val="1">北京</span>
                  <b></b>
                </a>
              </li>
              <li class="show_city">
                <a href="javascript:;">
                  <span class="city_text" val="1">北京市</span>
                  <b></b>
                </a>
              </li>
              <li class="show_distinct">
                <a href="javascript:;">
                  <span class="distinct_text" callback="areaSearch()" val="5">朝阳区</span>
                  <b></b>
                </a>
              </li>
            </ul>
            <!--/locate_tabs-->
            <div class="locate_wp">
              <ul class="locate_list clearfix province_list show" style="display: block;">
                <li>
                  <a class="check_province" data-id="1" onclick="setProvince(1,&quot;北京&quot;);" href="javascript:;">北京</a>
                </li>
                <li>
                  <a class="check_province" data-id="19" onclick="setProvince(19,&quot;广东&quot;);" href="javascript:;">广东</a>
                </li>
                <li>
                  <a class="check_province" data-id="20" onclick="setProvince(20,&quot;广西&quot;);" href="javascript:;">广西</a>
                </li>
                <li>
                  <a class="check_province" data-id="21" onclick="setProvince(21,&quot;海南&quot;);" href="javascript:;">海南</a>
                </li>
                <li>
                  <a class="check_province" data-id="22" onclick="setProvince(22,&quot;重庆&quot;);" href="javascript:;">重庆</a>
                </li>
                <li>
                  <a class="check_province" data-id="23" onclick="setProvince(23,&quot;四川&quot;);" href="javascript:;">四川</a>
                </li>
                <li>
                  <a class="check_province" data-id="24" onclick="setProvince(24,&quot;贵州&quot;);" href="javascript:;">贵州</a>
                </li>
                <li>
                  <a class="check_province" data-id="25" onclick="setProvince(25,&quot;云南&quot;);" href="javascript:;">云南</a>
                </li>
                <li>
                  <a class="check_province" data-id="26" onclick="setProvince(26,&quot;西藏&quot;);" href="javascript:;">西藏</a>
                </li>
                <li>
                  <a class="check_province" data-id="27" onclick="setProvince(27,&quot;陕西&quot;);" href="javascript:;">陕西</a>
                </li>
                <li>
                  <a class="check_province" data-id="28" onclick="setProvince(28,&quot;甘肃&quot;);" href="javascript:;">甘肃</a>
                </li>
                <li>
                  <a class="check_province" data-id="29" onclick="setProvince(29,&quot;青海&quot;);" href="javascript:;">青海</a>
                </li>
                <li>
                  <a class="check_province" data-id="30" onclick="setProvince(30,&quot;宁夏&quot;);" href="javascript:;">宁夏</a>
                </li>
                <li>
                  <a class="check_province" data-id="31" onclick="setProvince(31,&quot;新疆&quot;);" href="javascript:;">新疆</a>
                </li>
                <li>
                  <a class="check_province" data-id="32" onclick="setProvince(32,&quot;香港&quot;);" href="javascript:;">香港</a>
                </li>
                <li>
                  <a class="check_province" data-id="33" onclick="setProvince(33,&quot;澳门&quot;);" href="javascript:;">澳门</a>
                </li>
                <li>
                  <a class="check_province" data-id="18" onclick="setProvince(18,&quot;湖南&quot;);" href="javascript:;">湖南</a>
                </li>
                <li>
                  <a class="check_province" data-id="17" onclick="setProvince(17,&quot;湖北&quot;);" href="javascript:;">湖北</a>
                </li>
                <li>
                  <a class="check_province" data-id="2" onclick="setProvince(2,&quot;天津&quot;);" href="javascript:;">天津</a>
                </li>
                <li>
                  <a class="check_province" data-id="3" onclick="setProvince(3,&quot;河北&quot;);" href="javascript:;">河北</a>
                </li>
                <li>
                  <a class="check_province" data-id="4" onclick="setProvince(4,&quot;山西&quot;);" href="javascript:;">山西</a>
                </li>
                <li>
                  <a class="check_province" data-id="5" onclick="setProvince(5,&quot;内蒙古&quot;);" href="javascript:;">内蒙古</a>
                </li>
                <li>
                  <a class="check_province" data-id="6" onclick="setProvince(6,&quot;辽宁&quot;);" href="javascript:;">辽宁</a>
                </li>
                <li>
                  <a class="check_province" data-id="7" onclick="setProvince(7,&quot;吉林&quot;);" href="javascript:;">吉林</a>
                </li>
                <li>
                  <a class="check_province" data-id="8" onclick="setProvince(8,&quot;黑龙江&quot;);" href="javascript:;">黑龙江</a>
                </li>
                <li>
                  <a class="check_province" data-id="9" onclick="setProvince(9,&quot;上海&quot;);" href="javascript:;">上海</a>
                </li>
                <li>
                  <a class="check_province" data-id="10" onclick="setProvince(10,&quot;江苏&quot;);" href="javascript:;">江苏</a>
                </li>
                <li>
                  <a class="check_province" data-id="11" onclick="setProvince(11,&quot;浙江&quot;);" href="javascript:;">浙江</a>
                </li>
                <li>
                  <a class="check_province" data-id="12" onclick="setProvince(12,&quot;安徽&quot;);" href="javascript:;">安徽</a>
                </li>
                <li>
                  <a class="check_province" data-id="13" onclick="setProvince(13,&quot;福建&quot;);" href="javascript:;">福建</a>
                </li>
                <li>
                  <a class="check_province" data-id="14" onclick="setProvince(14,&quot;江西&quot;);" href="javascript:;">江西</a>
                </li>
                <li>
                  <a class="check_province" data-id="15" onclick="setProvince(15,&quot;山东&quot;);" href="javascript:;">山东</a>
                </li>
                <li>
                  <a class="check_province" data-id="16" onclick="setProvince(16,&quot;河南&quot;);" href="javascript:;">河南</a>
                </li>
                <li>
                  <a class="check_province" data-id="34" onclick="setProvince(34,&quot;台湾&quot;);" href="javascript:;">台湾</a>
                </li>
              </ul>
              <ul class="locate_list clearfix city_list">
                <li>
                  <a class="check_city" onclick="setCity(1,&quot;北京市&quot;);" href="javascript:;">北京市</a>
                </li>
              </ul>
              <ul class="locate_list clearfix distinct_list">
                <li>
                  <a class="check_distinct" onclick="checkDistinct(5,&quot;朝阳区&quot;);" href="javascript:;">朝阳区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(17,&quot;密云县&quot;);" href="javascript:;">密云县</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(16,&quot;平谷区&quot;);" href="javascript:;">平谷区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(15,&quot;怀柔区&quot;);" href="javascript:;">怀柔区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(14,&quot;大兴区&quot;);" href="javascript:;">大兴区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(13,&quot;昌平区&quot;);" href="javascript:;">昌平区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(12,&quot;顺义区&quot;);" href="javascript:;">顺义区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(11,&quot;通州区&quot;);" href="javascript:;">通州区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(10,&quot;房山区&quot;);" href="javascript:;">房山区</a>
                </li>
                <li>
                  <a class="check_distinct" onclick="checkDistinct(9,&quot;门头沟区&quot;);" href="javascript:;">门头沟区</a>
                </li>
              </ul>
            </div>
            <!--/locate_wp-->
            <a class="close_area" href="javascript:;"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="jr-goods-list">
      <ul>
        <li class="clearfix">
          <div class="left-box fl">
            <a href="/view/goods-detail.html">
              <h2>至慧学堂：1v8常规数学KA课程（沪市区）（24课次）</h2>
              <div class="class-info">
                <span>适应学员：</span>
                3-4岁小班学员
              </div>
              <div class="class-info clearfix info-intro">
                <span class="fl">课程介绍：</span>
                <p class="fl">于全语言究成果，采用游试中心TKT证书的专业教师任教，基于全语言教学法、全身动作反应法、交际教学法等学术研究成果，采用游戏,交际教学法等学术研师任教，基于全语言教学法、全身动师任教，基于全语言教学法、全身动究成果，采用戏
                  <object>
                    <a href="/view/goods-detail.html">&gt;&gt;详情</a>
                  </object>
                </p>
              </div>
            </a>
          </div>
          <div class="right-box fr">
            <p class="jr-c-red">
              预定金：￥
              <span class="price">1890</span>
            </p>
            <p>线下报班抵扣1000元</p>
            <div>
              <a href="javascript:;">立即报名</a>
              <a href="/view/goods-detail.html" class="open-detail">查看详情</a>
            </div>
          </div>
        </li>
        <li class="clearfix">
          <div class="left-box fl">
            <a href="javascript:;">
              <h2>至慧学堂：1v8常规数学KA课程（沪市区）（24课次）</h2>
              <div class="class-info">
                <span>适应学员：</span>
                3-4岁小班学员
              </div>
              <div class="class-info clearfix info-intro">
                <span class="fl">课程介绍：</span>
                <p class="fl">于全语言究成果，采用游试中心TKT证书的专业教师任教，基于全语言教学法、全身动作反应法、交际教学法等学术研究成果，采用游戏,交际教学法等学术研师任教，基于全语言教学法、全身动师任教，基于全语言教学法、全身动究成果，采用戏
                  <object>
                    <a href="javascript:;">&gt;&gt;详情</a>
                  </object>
                </p>
              </div>
            </a>
          </div>
          <div class="right-box fr">
            <p class="jr-c-red">
              预定金：￥
              <span class="price">1890</span>
            </p>
            <p>线下报班抵扣1000元</p>
            <div class="btn-box">
              <a href="javascript:;">立即报名</a>
              <a href="javascript:;" class="open-detail">查看详情</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="bottom-ad mt15">
      <div class="swiper-container small-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/img/bottom_ad_01.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/bottom_ad_02.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/bottom_ad_03.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/bottom_ad_04.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/img/bottom_ad_05.jpg" alt="">
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <div class="jr-container footer">
    <div class="jr-wrap footer-wrap">
      <ul class="company-intro clearfix">
        <li>
          <img src="/img/footer-01_10.png" alt="">
          <p>权威官方机构</p>
          <p>专注青少年高端教育十余年</p>
        </li>
        <li>
          <img src="/img/footer-01_03.png" alt="">
          <p>全国50所城市300多家学习中心</p>
          <p>累计辅导学员超过300000人次</p>
        </li>
        <li>
          <img src="/img/footer-01_05.png" alt="">
          <p>专业实力教研团队</p>
          <p>名优教师为学员保驾护航</p>
        </li>
        <li>
          <img src="/img/footer-01_07.png" alt="">
          <p>线下线上课程同步销售</p>
          <p>更多低价优选</p>
        </li>
      </ul>
    </div>

    <div class="footer-box">
      <div class="jr-wrap clearfix">
        <img class="fl logo-img" src="/img/logo.png" alt="">
        <div class="fl jr-wechat-box">
          <div class="chat-img">
            <img src="/img/wechat.jpg" alt="">
          </div>
          <p>微信公众号</p>
        </div>
        <div class="fl">
          <dl>
            <dt>关于教育</dt>
            <dd>
              <a href="javascript:;">集团介绍</a>
              <a href="javascript:;">发展历程</a>
              <a href="javascript:;">企业文化</a>
              <a href="javascript:;">旗下品牌</a>
              <a href="javascript:;">教育体系</a>
              <a href="javascript:;">校区分布</a>
            </dd>
          </dl>
          <dl>
            <dt>新手帮助</dt>
            <dd>
              <a href="javascript:;">注册流程</a>
              <a href="javascript:;">购买流程</a>
              <a href="javascript:;">网络报名</a>
              <a href="javascript:;">常见问题</a>
            </dd>
          </dl>
          <dl>
            <dt>支付方式</dt>
            <dd>
              <a href="javascript:;">网上支付</a>
              <a href="javascript:;">手机支付</a>
              <a href="javascript:;">现场支付</a>
              <a href="javascript:;">电话支付</a>
              <a href="javascript:;">分期付款</a>
            </dd>
          </dl>
          <dl>
            <dt>上课方式</dt>
            <dd>
              <a href="javascript:;">校区面授</a>
              <a href="javascript:;">校区直播</a>
              <a href="javascript:;">在线直播</a>
            </dd>
          </dl>
          <dl>
            <dt>售后服务</dt>
            <dd>
              <a href="javascript:;">售后政策</a>
              <a href="javascript:;">订金政策</a>
              <a href="javascript:;">退款说明</a>
              <a href="javascript:;">取消订单</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/jquery-1.7.2.min.js"></script>
<script src="/js/swiper-4.1.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.min.js"></script>
<script src="/js/dispatching_area.js"></script>
<script src="/js/es_goods_list.js"></script>
<script>  
  /* 点击展开按钮操作 */
  $(".show_more").click(function () {
    $(".more_filter").removeClass("more_filter").show();
    $(this).hide();
    $(".show_less").show();
  });
  /* 点击收起按钮操作 */
  $(".show_less").click(function () {
    $(".filter_item:visible:eq(3)").nextAll(".filter_item:visible").addClass("more_filter").hide();
    $(this).hide();
    $(".show_more").show();
  });

  /*轮播小广告*/
  var smallSlider = new Swiper('.small-swiper', {
    loop: true,
    slidesPerView: 5,
    spaceBetween: 10,
    pagination: {
      el: '.small-swiper .swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    autoplay: true
  });
</script>

</html>